%h2 Forgot your password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :birthday
    %br/
    = f.birthday_field :birthday, autofocus: true, autocomplete: "birthday"
  .actions
    = f.submit "Send me reset password instructions"
= render "users/shared/links"
